.bg {
    margin-top: 5px;
}

.XBand {
    position: absolute;
    width: 1001.8px;
    height: 657.74px;
    left: 253px;
    top: 434px;

    background: #F19F00;
    border-radius: 30px;
}

.DSOC {
    position: absolute;
    width: 1001.8px;
    height: 657.74px;
    left: 1306.2px;
    top: 434px;

    background-color: #F19F00;
    background-image: url(imgs/DSOC.png);
    background-repeat: no-repeat;
    border-radius: 30px;
}

.hd {
    position: absolute;
    width: 800px;
    height: 658px;
    left: 60px;
    top: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem; /* 60px */
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #fff;
}

.XBand .hd {
    position: absolute;
    left: 110px;
    top: 0px;
}

.DSOC .hd {
    position: absolute;
    left: 255px;
    top: 0px;
}